*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.home-page{
    height: 100vh;
    
    position: relative;
    background: linear-gradient(30deg,rgb(209, 209, 209) ,rgba(43, 43, 235, 0.797));
    
}
.home-page-item{
    position: absolute;
    left: 50%;
    top: 50%;
    border: 2px dashed black;
    border-radius:20px 0 0 20px;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.home-page-item h1{
    color: black;
}

.home-page-item p{
    color: rgba(56, 55, 55, 0.833);
    margin: 10px 0;
}



